
.button{
    
}
.cbox{
    border: 3px solid blue;
    height: 500px;
}
.dbox{
    background-color: wheat;
    
}
.card1{
    width: 50rem;
    height: 12rem;
    background-attachment: fixed;
    background: paleturquoise;
    text-align: justify;
    
}
.card2{
    width: 14rem;
    height: auto;
    text-rendering: auto;
    
    
    
    
}

